<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Access Request</title>
</head>
<body>
    <p>
            The following user has requested access to view Enhanced Revenue and Commission Information within Portico Market Match. Please assign this ticket to Seth Merkin Morokoff:
    </p>    
    <ul>
        <li>Market Match user: {{user.email}}</li>
        <li>Agency: {{user.agency}}</li>
        <li>Date-time of request: {{user.timestamp}}</li>
    </ul>

</body>
</html>